@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hiding scrollbar for Chrome, Safari and Opera */
.dialog-content::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */
.dialog-content, body {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}